<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboot.helloworld.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.demo.springboot.helloworld.common.domain.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="no" jdbcType="DECIMAL" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="disprice" jdbcType="DECIMAL" property="disprice" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="onsale" jdbcType="INTEGER" property="onsale" />
    <result column="sold" jdbcType="INTEGER" property="sold" />
    <result column="isHot" jdbcType="BIT" property="ishot" />
    <result column="isDiscount" jdbcType="BIT" property="isdiscount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, category_id, no, name, price, disprice, description, image, onsale, sold, isHot, 
    isDiscount
  </sql>
  <select id="selectByExample" parameterType="com.demo.springboot.helloworld.common.domain.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.springboot.helloworld.common.domain.GoodsExample">
    delete from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.springboot.helloworld.common.domain.Goods">
    insert into goods (id, category_id, no, 
      name, price, disprice, 
      description, image, onsale, 
      sold, isHot, isDiscount)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{no,jdbcType=DECIMAL}, 
      #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{disprice,jdbcType=DECIMAL}, 
      #{description,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{onsale,jdbcType=INTEGER}, 
      #{sold,jdbcType=INTEGER}, #{ishot,jdbcType=BIT}, #{isdiscount,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.springboot.helloworld.common.domain.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="disprice != null">
        disprice,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="onsale != null">
        onsale,
      </if>
      <if test="sold != null">
        sold,
      </if>
      <if test="ishot != null">
        isHot,
      </if>
      <if test="isdiscount != null">
        isDiscount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="disprice != null">
        #{disprice,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="onsale != null">
        #{onsale,jdbcType=INTEGER},
      </if>
      <if test="sold != null">
        #{sold,jdbcType=INTEGER},
      </if>
      <if test="ishot != null">
        #{ishot,jdbcType=BIT},
      </if>
      <if test="isdiscount != null">
        #{isdiscount,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.springboot.helloworld.common.domain.GoodsExample" resultType="java.lang.Long">
    select count(*) from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.no != null">
        no = #{record.no,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.disprice != null">
        disprice = #{record.disprice,jdbcType=DECIMAL},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null">
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.onsale != null">
        onsale = #{record.onsale,jdbcType=INTEGER},
      </if>
      <if test="record.sold != null">
        sold = #{record.sold,jdbcType=INTEGER},
      </if>
      <if test="record.ishot != null">
        isHot = #{record.ishot,jdbcType=BIT},
      </if>
      <if test="record.isdiscount != null">
        isDiscount = #{record.isdiscount,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      no = #{record.no,jdbcType=DECIMAL},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      disprice = #{record.disprice,jdbcType=DECIMAL},
      description = #{record.description,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      onsale = #{record.onsale,jdbcType=INTEGER},
      sold = #{record.sold,jdbcType=INTEGER},
      isHot = #{record.ishot,jdbcType=BIT},
      isDiscount = #{record.isdiscount,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.springboot.helloworld.common.domain.Goods">
    update goods
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="disprice != null">
        disprice = #{disprice,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="onsale != null">
        onsale = #{onsale,jdbcType=INTEGER},
      </if>
      <if test="sold != null">
        sold = #{sold,jdbcType=INTEGER},
      </if>
      <if test="ishot != null">
        isHot = #{ishot,jdbcType=BIT},
      </if>
      <if test="isdiscount != null">
        isDiscount = #{isdiscount,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.springboot.helloworld.common.domain.Goods">
    update goods
    set category_id = #{categoryId,jdbcType=INTEGER},
      no = #{no,jdbcType=DECIMAL},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      disprice = #{disprice,jdbcType=DECIMAL},
      description = #{description,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      onsale = #{onsale,jdbcType=INTEGER},
      sold = #{sold,jdbcType=INTEGER},
      isHot = #{ishot,jdbcType=BIT},
      isDiscount = #{isdiscount,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>