<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<a style="display: none" id="userId">[[${userId}]]</a>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body" style="padding-left: 20px;">
                <div id="addReceive" style="display: none;position: fixed;width: 100%;height: 100%;text-align: center;padding-left: 200px;">
                    <div style="width: 400px;background-color: #fff;border-radius: 10px;background-color: rgba(255,255,255,0.9)">
                        <div style="position:relative; border-bottom: thin solid #c1c1c1;padding-bottom: 10px;padding-top: 10px;background-color: rgb(250,250,250)">
                            <span style="text-align: center;">
                                <span style="font-size: 16px;">管理收货地址</span>
                            </span>
                            <span style="margin-left: 80px;position:absolute;right:15px;top:5px;"><a href="#" onclick="x();" style="font-size: 18px;">x</a></span>
                        </div>
                        <div style="; padding: 15px 10px;">
                            <div>
                                <div style="margin-bottom: 10px;">
                                    <input id="Rname" type="text" placeholder="收货人姓名" required="true" style="padding-left:20px;border-radius: 10px;width: 100%;box-shadow:0px 0px 0px 0.5px #c1c1c1;outline: none;"></div>
                                <div style="margin-bottom: 10px;">
                                    <input id="Rphone" type="text" placeholder="手机号码" required="true" style="padding-left:20px;border-radius: 10px;width: 100%;box-shadow:0px 0px 0px 0.5px #c1c1c1;outline: none;">
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <input id="Raddress" type="text" placeholder="收货地址" required="true" style="padding-left:20px;border-radius: 10px;width: 100%;box-shadow:0px 0px 0px 0.5px #c1c1c1;outline: none;">
                                </div>
                                <div style="padding-left: 150px;">
                                    <button id="done" onclick="done();" class="btn btn-block btn-info" style="width: 100px;">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th style="width: 250px;">姓名</th>
                        <th style="width: 250px;">电话</th>
                        <th style="width: 250px;">地址</th>
                        <th style="width: 40px;"></th>
                        <th style="width: 70px;font-size: 10px;"><a href="#" onclick="add();">添加收货地址</a></th>
                    </tr>
                    </thead>
                    <tbody   id="tbody">
                        <tr  th:id="tr+${r.id}" th:each="r:${receive}" style="border-bottom: thin solid #c1c1c1;height: 50px;">
                            <td th:id="name+${r.id}" th:text="${r.name}"></td>
                            <td th:id="phone+${r.id}" th:text="${r.phone}"></td>
                            <td th:id="address+${r.id}" th:text="${r.address}"></td>
                            <td style="padding-left: 18px;">
                                <button style="width: 20px;height: 20px;padding-top:0px;padding-left: 4px;" class="btn btn-block btn-info" th:value="${r.id}" onclick="update(value)">
                                    <i class="fa fa-fw fa-pencil" style="width: 10px;height: 10px;"></i>
                                </button>
                            </td>
                            <td><button style="width: 20px;height: 20px;padding-top:0px;padding-left: 0px;" class="btn btn-block btn-danger" th:value="${r.id}" onclick="del(value)"><i class="fa fa-fw fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js" th:src="@{/dist/js/adminlte.min.js}"></script>

<script src="/static/bower_components/bootstrap-table/bootstrap-table.js"
        th:src="@{/bower_components/bootstrap-table/bootstrap-table.js}"></script>
<script src="/static/bower_components/bootstrap-table/locale/bootstrap-table-zh-CN.js"
        th:src="@{/bower_components/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

<script src="/static/bower_components/layer/layer.js"
        th:src="@{/bower_components/layer/layer.js}"></script>

</body>

</html>

<script>

    var flag;
    var receiveId;

    function update(id) {
        flag = 1;
        var userId = $("#userId").text();
        var v = document.getElementById("addReceive");
        v.style.display = "block";
        var name1 = document.getElementById("Rname");
        var phone1 = document.getElementById("Rphone");
        var address1 = document.getElementById("Raddress");
        name1.value = $("#name"+id).text();
        phone1.value = $("#phone"+id).text();
        address1.value = $("#address"+id).text();
        receiveId = id;
    };

    function del(id) {
        var mainbody = document.getElementById("tbody");
        var cell = document.getElementById("tr"+id);
        mainbody.removeChild(cell);
        $.ajax({
            url : "/delReceive?id="+id,
            type : "post",
            dataType : "json",
            success : function(){}
        });
    };

    function add() {
        flag=0;
        var name1 = document.getElementById("Rname");
        var phone1 = document.getElementById("Rphone");
        var address1 = document.getElementById("Raddress");
        name1.value = "";
        phone1.value = "";
        address1.value = "";
        var v = document.getElementById("addReceive");
        v.style.display = "block";
    };

    function x() {
        var v = document.getElementById("addReceive");
        v.style.display = "none";
    }

    function done() {
        var userId = $("#userId").text();
        var name = $("#Rname").val();
        var phone = $("#Rphone").val();
        var address = $("#Raddress").val();
        if(name==""){
            alert("请输入收货人姓名");
            return ;
        }
        if(phone==""){
            alert("请输入电话号码");
            return ;
        }
        if(address==""){
            alert("请输入收货地址");
            return ;
        }
        if(flag==0) {
            $.ajax({
                url: "/insertReceive",
                type: "post",
                dataType: "json",
                data: {"userId": userId, "name": name, "phone": phone, "address": address},
                success: function () {
                }
            });
        }
        else{
            $.ajax({
                url: "/updateReceive",
                type: "post",
                dataType: "json",
                data: {"id": receiveId,"userId": userId, "name": name, "phone": phone, "address": address},
                success: function () {
                }
            });
        }
        //alert(userId);
        $("#load").load("/receive?userId="+userId);
        $("#load").load("/receive?userId="+userId);
    }

</script>